.arena_name{
  @media screen and (max-width: 700px) {
    margin-top: 78px;
  }
  @media (max-width: 700px) {

    div{
      max-width: 250px !important;
    }
    h2{
      font-size: 30px !important;
    }
  }
  @media (max-width: 400px) {
    div{
      max-width: 230px !important;
    }
    h2{
      font-size: 27px !important;
    }
    p{
      font-size: 12px !important;
    }
  }
  @media (max-width: 360px) {
    div{
      max-width: 200px !important;
    }
    h2{
      font-size: 24px !important;
    }
  }
}

.arena_name_mobile{
  @media screen and (max-width: 700px) {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

.finished_go_back{
  margin-top: 25px;
  margin-bottom: -25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: #000;
  background: transparent;
}

.battle_content{
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  margin-top: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .opponent{
    display: flex;
    flex-direction: column;
    min-height: 230px;
    flex: 0 1 21%;

    &__content{
      flex-grow: 1;

      .content__loading_container{
        display: flex;
        align-items: center;
        justify-content: center;
        .content__loading{
          margin-bottom: -10px !important;
          margin-left: -10px !important;
          animation: 1s linear 0s normal none infinite running rotate-keyframes;
        }
      }

      .opponent__card{
        width: 100%;
        flex: 0 1 100%;
        margin: 0;
        min-height: 230px;
      }

      @media (max-width: 900px) {}
    }

    &__controls{

      .controls__queue_btn{
        max-width: 179px !important;
        width: 100% !important;
        min-height: 56px;
        background: linear-gradient(179deg, #C3004D 0%, #FF006A 98.3%);
        box-shadow: 0.340904px 19.5304px 39.0667px rgba(47, 0, 19, 0.268), inset -0.112119px -6.42332px 6.4243px #B90049, inset 0.112119px 6.42332px 6.4243px #FF006F;
      }
    }
    
    @media (max-width: 900px) {
      flex: 0 1 25%;
    }
    
    @media (max-width: 700px) {
      display: none;
    }
  }

  .content__opponent_image_to_battle{
    animation: .2s linear 0s normal none running battle-opponent-keyframes;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  .content__user_image_to_battle{
    animation: .2s linear 0s normal none running battle-keyframes;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
}

.battle_content_finished{
  //margin-left: -10px;
  
}

.emic_card_image{
  position: relative;
  width: 278px;
  height: 214px;
  animation: 1s linear 0s normal none running opacity-keyframes;
}

@keyframes opacity-keyframes {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes battle-keyframes {
  0% {
    transform: translateX(0%);
  }
  80%{
    opacity: 1;
  }
  99%{
    display: none !important;
  }
  100%{
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes battle-opponent-keyframes {
  0% {
    transform: translateX(0%);
  }
  80%{
    opacity: 1;
  }
  99%{
    display: none !important;
  }
  100%{
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes rotate-keyframes {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.diplaynone{
  display: none;
}

.battle_gif{
  position: relative;
  z-index: 10000;
  margin-top: 20px !important;
  margin-right: -25px !important;

  @media screen and (max-width: 900px) {
    margin-right: -85px !important;
  }
  @media screen and (max-width: 700px) {
    margin-right: 0px !important;
    margin-top: -50px !important;
  }
}

.finished_content{
  flex-grow: 1;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .battle_cards{
    display: flex;
    justify-content: space-between;
    flex: 0 1 45%;
    margin-left: -100px;

    .cards__item{
      flex: 0 1 48%;
      max-width: 201px;
      margin-bottom: 0px;
    }
    
    @media screen and (max-width: 1000px) {
      display: none !important;
    }
  }

  .battle_info{
    position: relative;
    flex: 0 1 28%;
    min-height: 209px;

    &:after{
      content: "";
      position: absolute;
      left: 0;
      right: -10px;
      bottom: 10px;
      top: -10px;
      z-index: -1;
      transform: scale(1.45);
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(7px);
      border-radius: 12px;
    }

    .info__text{
      margin-top: 25px;
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      text-align: center;

      color: #000;

      .text_red{
        color: #FF006F;
      }
    }

    @media screen and (max-width: 1000px) {
      margin-left: 150px;
      flex: 0 1 40%;
    }
  }

  .battle_reward{
    flex: 0 1 27%;
    position: relative;
    z-index: 100;
    .reward_text{
      position: absolute;
      min-width: 246px;
      left: -200px;
      bottom: 50px;
      z-index: -1;
      padding: 9px 25px;
      background: #ED005E;
      border-radius: 20px;

      font-weight: 500;
      font-size: 18px;
      line-height: 22px;

      color: #FFFFFF;
    }
    .reward__card{
      flex: 0 1 100%;
      max-width: 201px;
      margin-bottom: 0px;
    }
  }
  
  @media screen and (max-width: 700px) {
    flex-wrap: wrap;
    .battle_info{
      flex: 0 1 100%;
      margin-left: 0px;
      min-height: initial;
      padding-bottom: 25px;
      margin-bottom: 12px;

      &:after{
        transform: scale(1);
        margin: 0;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
    }
    .battle_reward{
      flex: 0 1 100%;
      text-align: center;
      .reward_text{
        position: relative;
        left: 0;
        bottom: 0;
        text-align: center;
        margin-bottom: -5px;
      }

      .reward__card{
        margin: 0 auto;
        transform: translateX(-2px);
      }
    }
  }
}

.mobile_arena{
  position: fixed;
  border-top: 97px solid #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background: #fff !important;
  overflow-y: auto;
  padding-bottom: 0px !important;

  aside{
    padding-bottom: 0px !important;
  }

  @media screen and (max-width: 400px) {
    border-top: 73px solid #fff;
  }
}

.mobile_battle_content{
  max-width: 240px;
  margin: 0 auto;
  padding-bottom: 0px;

  .controls__queue_btn{
    margin: 0 auto;
    margin-top: 45px !important;
  }

  .controls__go_back{
    margin-top: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #000000;
    background: transparent;
  }
  
  .content__loading_container{
    text-align: center;
    animation: 1s linear 0s normal none infinite running rotate-keyframes;
    margin-bottom: 80px;
  }

  .battle_starts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -30px;

    .battle_emic{
      max-width: 190px !important;
      width: initial !important;
      min-width: initial !important;
      min-height: initial !important;
      max-height: initial !important;
      height: initial !important;
    }

    .battle_light{
      width: 104px;
      height: 104px;
      margin-top: -10px;
    }
  }

  .battle_starts__user_card{
    animation: .2s linear 0s normal none running mb-battle-keyframes;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  .battle_starts__opponent_card{
    animation: .2s linear 0s normal none running mb-battle-opponent-keyframes;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
}

@keyframes mb-battle-keyframes {
  0% {
    transform: translateY(0%);
  }
  80%{
    opacity: 1;
  }
  99%{
    display: none !important;
  }
  100%{
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes mb-battle-opponent-keyframes {
  0% {
    transform: translateY(0%);
  }
  80%{
    opacity: 1;
  }
  99%{
    display: none !important;
  }
  100%{
    opacity: 0;
    transform: translateY(-100%);
  }
}