.arena_field{
  position: relative;
  z-index: 5;
  min-height: 520px;
  margin-bottom: 18px;
  border-bottom: 20px solid #c4c4c4;

  .field__bg{
    left: 0 !important;
    right: 0 !important;
    z-index: -1;
  }
}