@import "@/styles/mixins.scss";

.help_message{
  flex: 0 1 48%;
  text-align: center;

  position: relative;

  .message__text{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 96px;
    @include text(#232323,26px,500,32px);
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(14px);

    padding: 16px 20px;
    border-radius: 12px;
    z-index: 2;

    @media screen and (max-width: 1100px) {
      @include text(#232323,18px,500);
    }

    @media screen and (max-width: 800px) {
      @include text(#232323,18px,500);
      padding: 16px 20px;
      min-height: 50px;
    }
    @media screen and (max-width: 500px) {
      @include text(#232323,16px,500);
    }
    @media screen and (max-width: 400px) {
      @include text(#232323,12px,500);
      padding: 9px 19px;
      min-height: 40px;
    }
    @media screen and (max-width: 360px) {
      @include text(#232323,10px,500);
    }
  }

  &-right, &-left{
    &:after{
      content: "";
      width:32px;
      height: 28px;
      position: absolute;

      bottom: 20px;
      z-index: -1;
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(14px);
      clip-path: polygon(100% 100%, 0 100%, 100% 0%);

      @media screen and (max-width: 1100px) {
        display: none;
      }
    }
  }

  &-right{
    &:after {
      right: -30px;
      clip-path: polygon(100% 100%, 0% 0%, 0% 100%);
    }
  }

  &-left{
    &:after {
      left: -30px;
    }

  }

  @media screen and (max-width: 900px) {
    flex: 0 1 40%;
  }

  @media (max-width: 700px) {
    margin: 0 auto;
    margin-bottom: -15px;
    flex: 0 1 60%;
  }

  @media (max-width: 500px) {
    margin: 0 auto;
    margin-bottom: -30px;
    flex: 0 1 70%;
  }
}