.cards__header{
    padding: 0px 40px;
    display: flex; 
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;

    .header__img{
        margin-left: -140px;
    }

    .header__filter{
        display: block;
        margin-bottom: -25px;
    }
}

.content__container{
    .trade_cards{
        display: flex;

        .cards__item{
            max-width: 18.5%;
            flex: 1 0 18.5%;
            transition: all .2s linear;
            opacity: 1;

            &:hover{

                transition: all .2s linear;
                z-index: 100;
            }
        }
    }

    .upgrade_btn{
        display: block;

        padding: 16px 45px;
        //width: 100%;
        //margin-top: 50%;
        margin: 0 auto;
        margin-bottom: -100%;
        transform: translateY(80%);
        //font-size: 20px;
    }
}

.list__card{
    transition: all .2s linear;

    &:hover{
        transform: scale(1.1);
    }

    &:active{
        transform: scale(1.05);
        transition: all .1s linear;
    }
}