@import '@/styles/variables.scss';
@import "@/styles/mixins.scss";

@keyframes choosingCard {
    0%   {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.tame-page {
    min-height: 100vh;
    .tame-mb{
        display: none;
        @media screen and (max-width: 1100px) {
            display: block;
        }
    }
    .wrapper{
        position: relative;

        @media screen and (max-width: 1100px) {
            overflow: hidden;
        }

        .yellow_area{
            position: absolute;
            bottom: -50px;
            right: 0;
            z-index: 1;
        }

        .yellow_big_star{
            position: absolute;
            top: 160px;
            right: 8px;
            z-index: 1;
        }

        .yellow_little_star{
            position: absolute;
            top: 325px;
            right: 42px;
            z-index: 1;
        }
        
        .md-stars{
            @media screen and (max-width: 1100px) {
                display: none;
            }
        }

        .mb-stars {
            display: none;
            @media screen and (max-width: 450px) {
                display: block;
            }
        }

        .left_yellow_area {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 53vw;
        }
        .right_yellow_area {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50vw;
            z-index: 1;
        }
        .mb_big_star {
            position: absolute;
            bottom: 39px;
            left: 0;
            z-index: 1;
        }
        .mb_small_star {
            position: absolute;
            bottom: 17px;
            right: 32px;
            z-index: 1;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        // padding-top: 141px;
        padding-bottom: 110px;

        .content__cards {
            flex: 0 1 50%;
            padding: 0px 24px;

            .cards__header {
                padding-left: 30px;
                margin-bottom: -15px;

                .header__title {
                    max-width: 560px;
                    @include text($black, 26px, 500);
                    margin-bottom: 16px;

                    @media screen and (max-width: 1300px) {
                        @include text($black, 22px, 500);
                    }
                }

                .header__select {
                    position: relative;
                    max-width: 250px;

                    .select__header {
                        background: #ED005E;
                        cursor: pointer;
                        display: flex;
                        padding: 9px 31px 9px 31px;
                        border-radius: 20px;
                    }

                    .select__current {
                        @include text(#fff, 18px, 700);
                    }

                    .select__icon {
                        align-items: center;
                        display: flex;
                        flex-shrink: 0;
                        justify-content: center;
                        margin-left: auto;
                        text-align: center;
                        width: 12px;
                        margin-bottom: -4px;
                        transition: all .2s linear;
                    }

                    .select__body {
                        border-radius: 20px;
                        background: #ED005E;
                        display: none;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 120%;
                        z-index: 100;
                        text-align: center;

                    }

                    .select__item {
                        cursor: pointer;
                        @include text(#fff, 18px, 400, 24px);
                        padding: 11px;
                        transition: all .2s linear;

                        &:hover {
                            background-color: #f2f2f2;
                            color: #ED005E;
                        }
                    }

                    @media screen and (max-width: 1100px) {
                        display: none;
                    }
                }

                .is-active {
                    .select__header {
                        .select__icon {
                            margin-bottom: 3px;
                            transform: rotate(180deg);
                        }
                    }

                    .select__body {
                        display: block;
                    }
                }

                
            }

            @media screen and (max-width: 1300px) {
                flex: 0 1 45%;
            }
            @media screen and (max-width: 1200px) {
                flex: 0 1 50%;
            }

            @media screen and (max-width: 1100px) {
                display: none;
            }
        }

        .cards__list {
            padding: 23px;
            padding-bottom: 0px;
            background: #F5F5F5;
            border-radius: 16px;
            
            .list__container {
                padding-right: 24px;

                max-height: 545px;
                overflow: auto;

                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                flex-wrap: wrap;

                &::-webkit-scrollbar {
                    width: 12px;
                    border-radius: 10px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    
                    background: #DEDEDE;
                    border-radius: 10px;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    width: 16px !important;
                    transition: all .2s linear;
                    background: #FF006A;
                    border-radius: 10px;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: darken(#FF006A,5%);
                }
            }
            
            &-mb{
                display: none !important;

                position: relative;
                width: 100%;
                min-width: 0;
                overflow: hidden;
                padding: 0;

                background: #fff;
                padding-top: 14px;

                .list__btn{
                    padding: 10px 40px;
                    margin: 0 auto;
                }

                .content__slider{
                    padding-bottom: 30px;

                    @media screen and (max-width: 800px) {
                        padding-left: 56px;
                    }
                }

                .cards__pagination{
                    display: flex;
                    justify-content: center;
                    margin-top: 32px;

                    .swiper-pagination-bullet{
                        border: 3px solid $crimson_3;
                        width: 18px;
                        height: 18px;
                        margin: 0px 12px;
                        background: transparent;
                        transition: all .2s linear;
                        border-radius: 50%;
    
                        &-active{
                            background: linear-gradient(#FFFF31,#D6CB25);
                        }
                    }
                }

                .list__item{
                    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07), 30px 41.7776px 20px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 20px rgba(0, 0, 0, 0.0417275), 30px 12.5216px 10px rgba(0, 0, 0, 0.035), 20px 6.6501px 0px rgba(0, 0, 0, 0.0282725), 20px 2.76726px 0px rgba(0, 0, 0, 0.0196802);
                }

                @media screen and (max-width: 1100px) {
                    display: block !important;
                    width: 100vw;
                    margin-left: -24px;
                }

                @media screen and (max-width: 700px) {
                    margin-left: -18px;
                }

                @media screen and (max-width: 500px) {
                    margin-left: -13px;
                }
            }
        }

        .content__exchange {
            flex: 0 1 25%;
            display: flex;
            padding-top: 110px;

            align-items: center;

            .exchange__mb_title{
                display: none;
                max-width: 500px;

                @include text($black,24px,700);
                text-align: center;
                margin-bottom: 27px;

                @media screen and (max-width: 1100px) {
                    display: block;
                }
                @media screen and (max-width: 450px) {
                    text-align: left;
                }
                @media screen and (max-width: 400px) {
                    max-width: 258px;
                    margin-left: 5px;
                    margin-right: auto;
                    @include text($black,18px,700);
                }
            }

            .exchange__arrows {
                margin-right: 24px;
                @media screen and (max-width: 1100px) {
                    margin-top: 9px;
                    order: 2;
                    transform: rotate(90deg);
                }
            }

            .exchange__card {
                position: relative;
                z-index: 2;

                flex-grow: 1;
                border: 1px solid #F2F2F2;
                min-height: 434px;
                border-radius: 8px;
                background: #fff;
                padding: 8px;

                .card__info {
                    position: relative;
                    z-index: 2;
                    border: 2px solid transparent;
                    height: 100%;

                    .info__content{
                        position: relative;
                        z-index: 2;
                        background: #fff;
                        border-radius: 8px;
                        width: 100%;
                        height: 100%;
                        min-height: 418px;
                        display: flex;
                            align-items: center;
                            justify-content: center;

                        .content__container{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .list__item{
                                flex: 0 1 70%;

                                @media screen and (max-width: 400px) {
                                    flex: 0 1 80%;
                                }
                            }
                        }
                    }

                    &::after {
                        position: absolute;
                        top: -2px;
                        bottom: -2px;
                        left: -2px;
                        right: -2px;
                        z-index: -1;
                        background: linear-gradient(190deg, #F0AD00, #F68647, #FFD56A, #FFF731, #F0AD00);
                        content: '';
                        z-index: 1;
                        border-radius: 8px;
                    }
                }

                @media screen and (max-width: 1200px) {
                    max-height: 400px;
                    .card__info{
                        .info__content{
                            min-height: 388px;
                        }
                    }
                }

                @media screen and (max-width: 1100px) {
                    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
                    order: 1;
                    min-height: auto;
                    max-height: initial;
                    padding-bottom: 8px;
                    min-width: 328px;
                }

                @media screen and (max-width: 400px) {
                    min-width: 288px;

                    .card__info{
                        .info__content{
                            min-height: 328px;
                        }
                    }
                }
            }

            @media screen and (max-width: 1300px) {
                flex: 0 1 35%;
            }

            @media screen and (max-width: 1100px) {
                flex-direction: column;
                width: 100%;
                padding-top: 38px;
            }
        }

        @media screen and (max-width: 1100px) {
            padding-bottom: 70px;
            flex-direction: column;
        }
    }

    .tame-md{
        position: relative;
        z-index: 2;

        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 60px;

        .md__title {
            max-width: 560px;
            @include text($black, 26px, 500);
            margin-bottom: 12px;
            margin-left: 180px;

            @media screen and (max-width: 1300px) {
                @include text($black, 22px, 500);
            }
        }

        .content__container{
            margin: 0 auto;
            max-width: 194px;
            width: 100%;

            .list__item {
                animation-name: choosingCard;
                animation-duration: 1s;

                flex: 0 1 100%;
                margin: 0;
            }

            .play_btn{
                display: block;
                text-align: center;
                padding: 14px 0px;
                width: 100%;
                margin-top: 50%;
                margin-bottom: -60%;
                font-size: 20px;
            }
        }   

        .md__cards {
            .cards__header {
                position: relative;
                padding: 0px 40px;
                display: flex; 
                align-items: flex-end;
                justify-content: space-between;
                margin-bottom: 10px;
                padding-top: 40px;

                .header__img{
                    position: absolute;
                    left: 50%;
                    transform: translateX(-60%);
                    bottom: 0px;
                    //margin-left: -140px;
                }

                .header__filter{
                    display: block;
                    margin-bottom: -25px;
                }
            }

            .list__item {
                &:hover{
                    transform: scale(1.1);
                    box-shadow: -10px 0px 50px rgba(0, 0, 0, 0.07), -30px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), -30px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 20px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
                    z-index: 20;
                }
                &:active{
                    transform: scale(1.05);
                    transition: all .1s linear; 
                }
            }
        }

        @media screen and (max-width: 1100px) {
            display: none;
        }
    }
}